In [107]:
# 람다
add_one_lambda = []
add_func = lambda x: add_one_lambda.append(x+1)
for x  in [1,2,3]:
    add_func(x)
add_one_lambda

[2, 3, 4]

In [108]:
# 두개의 값을 입력받아서 뎃셈을 하는 람다 함수를 정의
add_fun = lambda x,y : x+y
add_fun(2,3)

5

In [109]:
def add_fun2(x,y):
    return x+y

In [110]:
# enumerate 함수
from random import sample

In [111]:
samplelist = sample(range(100),10)

In [112]:
# 인덱스: 00   값 : 00
# 인덱스: 00   값 : 00
# 인덱스: 00   값 : 00
# 인덱스: 00   값 : 00

In [113]:
count = 0
for i in samplelist:
    print(i,count)
    count += 1

45 0
4 1
78 2
30 3
96 4
60 5
80 6
98 7
93 8
8 9

In [114]:
for idx,value in enumerate(samplelist):
    print(f"인덱스:{idx}  값:{value}")

인덱스:0  값:45
인덱스:1  값:4
인덱스:2  값:78
인덱스:3  값:30
인덱스:4  값:96
인덱스:5  값:60
인덱스:6  값:80
인덱스:7  값:98
인덱스:8  값:93
인덱스:9  값:8

In [115]:
# range 함수를 이용해서 객체를 만들고
# list 함수를 이용해서 출력

In [116]:
# eval
# 문자열을 입력받아서 파이썬 코드로 변환
a = 10
b = '125'
a + eval(b)

135

In [117]:
samplelist = sample(range(100),10)
print(f"랜덤한 숫자:{samplelist}")

랜덤한 숫자:[82, 43, 70, 39, 40, 27, 55, 78, 74, 89]

In [118]:
'print(f"랜덤한 숫자:{samplelist}")'

'print(f"랜덤한 숫자:{samplelist}")'

In [119]:
eval('print(f"랜덤한 숫자:{samplelist}")')

랜덤한 숫자:[82, 43, 70, 39, 40, 27, 55, 78, 74, 89]

In [120]:
list(map(lambda x: x+1, samplelist))  ## 각원소에 1씩 더한 결과를
list(map(lambda x: x//2, samplelist))  #  각원소를 2로 나눈 몫을 결과로

[41, 21, 35, 19, 20, 13, 27, 39, 37, 44]

In [121]:
# filter 함수
# map 반복가능한 여러 원소를 자료형과 각원소를 입력받을수 있는 함수를 매개변수로 입력
# samplelist 짝수만 추려
def findEven(x):
    return x%2 == 0
list(filter(findEven,samplelist))

[82, 70, 40, 78, 74]

In [122]:
# 위의 식을 람다로 변경
list(filter(lambda x: x%2==0,samplelist))

[82, 70, 40, 78, 74]

In [123]:
# reversed

In [124]:
list(reversed( samplelist))

[89, 74, 78, 55, 27, 40, 39, 70, 43, 82]

In [125]:
# sorted 함수
# 오름차순?
# 반대로...

In [126]:
list(reversed(sorted(samplelist)))

[89, 82, 78, 74, 70, 55, 43, 40, 39, 27]

In [127]:
sorted(samplelist,reverse=True)

[89, 82, 78, 74, 70, 55, 43, 40, 39, 27]

In [128]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [129]:
# 클래스
class Calculator:    
    def __init__(self,num1,num2):  # 생성자  객체가 생성될때 자동으로 호출
        self.num1 = num1    # 초기화
        self.num2 = num2    # 초기화
        self.result = 0     # 초기화
    def add(self):
        self.result = self.num1 + self.num2
        return self.result 
    def subtract(self):
        self.result = self.num1 - self.num2
        return self.result 
    def multiply(self):
        self.result = self.num1 * self.num2
        return self.result 
    def divide(self): # 적절하게 예외처리  0으로 나눌수 없음        
        self.result = self.num1 / self.num2
        return self.result

In [130]:
# 객체생성
a = Calculator(10,20)

In [131]:
# a.add()

In [132]:
a.result

0

In [133]:
# 엑셀 -- csv -> df

In [134]:
import pandas as pd
pd.__version__

'1.4.4'

In [135]:
# 시리즈들의 집합
data1 = ['a','b','c']
type(data1)

list

In [136]:
# 시리즈로 변환
sr1= pd.Series(data1)
type(sr1)

pandas.core.series.Series

In [137]:
sr1 # 인덱스로 구성... 숫자  dtype object는 문자열

0    a
1    b
2    c
dtype: object

In [138]:
# 원소를 추출... loc 인덱서  location 위치  원소 그래로
sr1.loc[0]

'a'

In [139]:
sr1.index = ['aaa','bbb','ccc']

In [140]:
sr1

aaa    a
bbb    b
ccc    c
dtype: object

In [141]:
sr1.loc['aaa':]

aaa    a
bbb    b
ccc    c
dtype: object

In [142]:
sr1.iloc[0:]

aaa    a
bbb    b
ccc    c
dtype: object

In [143]:
# 판다스 : 시리즈들의 집합
sr2 = pd.Series([10,20,30])
sr1 = pd.Series(['a','b','c'])
dic_data = {'c0':sr1, 'c2':sr2}
df =pd.DataFrame(dic_data)
df

  c0  c2
0  a  10
1  b  20
2  c  30

In [148]:
# 컬럼명을 추출
df.columns
# 컬럼명을 string, number 변경
df.columns = ['string','number']
df

  string  number
0      a      10
1      b      20
2      c      30

In [145]:
a = [1,5,4,8,1,2,3,1,7,9,1,2,3,1,10]
b = [1,2,3,1]

In [146]:
count = 0
def findH(listData,count):        
    for i in range(len(listData)-3):
        if listData[i]==1 and listData[i+1] == 2 and  listData[i+2] ==3 and  listData[i+3] ==1:
            result =  listData[:i] + listData[i+3+1:]
#             print(result)
            count += 1
            return findH(result,count)            
    return listData,count

In [147]:
a = [2, 1, 1, 2, 3, 1, 2, 3, 1]
findH(a,0)

([2], 2)

In [151]:
list(df.index)

[0, 1, 2]

In [ ]:
# 인덱스를 변경... r0 r1 r2

In [ ]:
# loc   - 20 
# iloc   30

In [153]:
df.index = ['r0','r1','r2']

In [154]:
df

   string  number
r0      a      10
r1      b      20
r2      c      30

In [155]:
df.loc['r1','number']

20

In [156]:
df.iloc[1,1]

20