In [4]:
# 분류  : 이진분류, 다중분류
#  -- K최근접이웃, 로지스틱회귀(시그모이드, 소프트맥스)
# 회귀 : 예측
#   - K최근접이웃(이웃한 셈플의 평균) X 
#   - 선형회귀 : 가중치와 절편(선형 방정식 1차원) : 차수를 증가- 과적합(과대적합 overfit)
#                                                   - 규제 : 릿지, 라소 : 규제강도를 조정하면 최적의 강도

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
from sklearn import datasets
import seaborn as sns

In [7]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [9]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
# 데이터확보(수집 & 병합) ->데이터를 전처리 -> 특징파악 ->적절한 머신러닝 모델선택(2~3모델 비교)
# 평가(accuracy 정확성) -> 적용(응용프로그램)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [15]:
df.drop(columns='deck',inplace=True)

In [29]:
# embarked, embark_town
idx = df[df['embarked'].isnull()].index.tolist() +   df[df['embark_town'].isnull()].index.tolist()
idx

[61, 829, 61, 829]

In [30]:
df.drop(index=idx,inplace=True)

In [43]:
df[df['age'].isnull()]
# df.iloc[:10]
# 전체평균, 성별평균, (연관된 범주형 데이터집합별로 평균을 구해서 대체)
# 결측치에 대한 상관관계가 높은 컬럼들의 그룹별 평균을구해서 대체
# 1. solution 성별로 평균을 내서 대체한다.
temp =  df.groupby(['sex','pclass','survived'])['age'].transform("mean")
df['age'].fillna(temp,inplace=True)

In [49]:
df.head()
#0 1 2 3 4 7
df2 = df.iloc[:, [0,1,2,3,4,7] ]

In [ ]:
# 데이터 수집 및 전처리  df2

In [ ]:
# 머신러닝.... 로지스틱 회귀

In [50]:
from sklearn.linear_model import LogisticRegression

In [51]:
lr =  LogisticRegression()

In [56]:
df2['sex'].unique(), df2['embarked'].unique()
# ['male', 'female'] -> 0 1 
# ['S', 'C', 'Q'] -> 0 1 2

(array(['male', 'female'], dtype=object), array(['S', 'C', 'Q'], dtype=object))

In [ ]:
# 대 중 소 : []  {}  ()

In [58]:
df2['sex'] = df2['sex'].map({'male':0,'female':1}).astype(int)
df2['embarked'] = df2['embarked'].map({'S':0,'C':1,'Q':2}).astype(int)

In [59]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  889 non-null    int64
 1   pclass    889 non-null    int64
 2   sex       889 non-null    int32
 3   age       889 non-null    float64
 4   sibsp     889 non-null    int64
 5   embarked  889 non-null    int32
dtypes: float64(1), int32(2), int64(3)
memory usage: 41.7 KB

In [60]:
# 독립변수, 종속변수
Y = df2.iloc[:,0]
X = df2.iloc[:,1:]

In [63]:
X.shape, Y.shape

((889, 5), (889,))

In [64]:
from sklearn.preprocessing import StandardScaler

In [65]:
ss = StandardScaler()
X = ss.fit_transform(X)

In [66]:
from sklearn.model_selection import train_test_split

In [68]:
from sklearn.linear_model import LogisticRegression

In [77]:
x_train,x_test,y_train,y_test =  train_test_split(X,Y, random_state=42)
lr = LogisticRegression()
lr.fit(x_train,y_train)
lr.score(x_train,y_train), lr.score(x_test,y_test)

(0.8273273273273273, 0.8251121076233184)

In [85]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.preprocessing import PolynomialFeatures

In [96]:
# PolynomialFeatures(de)
pf = PolynomialFeatures(degree = 10)
x_train_poly = pf.fit_transform(x_train)
x_test_poly = pf.fit_transform(x_test)

In [97]:
ridge = Ridge()
ridge.fit(x_train_poly,y_train)
ridge.score(x_train_poly,y_train), ridge.score(x_test_poly,y_test)

(0.407319291429428, -353.5210661796815)

In [92]:
lasso = Lasso()
lasso.fit(x_train_poly,y_train)
lasso.score(x_train_poly,y_train), lasso.score(x_test_poly,y_test)

(0.035145447335672264, 0.025064851135552457)